* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
header nav {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav > span {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2e1899;
  margin: 0 10px;
}
ul.navigation-items {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
ul.navigation-items li {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
ul.navigation-items li a {
  color: #371168;
}
ul.navigation-items li a:hover {
  color: #7510f7;
  text-decoration: underline;
}
